@{
    ViewData["Title"] = "Home Page";
}

<ul class="list-group">
  <li class="list-group-item">1. Choose a book</li>
  <li class="list-group-item">2. Do something else...</li>
  <li class="list-group-item">3. Buy tickets</li>
</ul>
